flows.json
[
    {
        "id": "465cfd27.107674",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aaff1184.c14",
        "type": "mqtt-broker",
        "z": "",
        "name": "PowerMeter",
        "broker": "broker.shiftr.io",
        "port": "1883",
        "clientid": "powerMeterWebApp",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "c70e062d.61a598",
        "type": "ui_group",
        "z": "",
        "name": "Display",
        "tab": "8cd6d87c.7b3a58",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8cd6d87c.7b3a58",
        "type": "ui_tab",
        "z": "",
        "name": "Power Display",
        "icon": "dashboard"
    },
    {
        "id": "7d83ed5d.3bf774",
        "type": "mqtt in",
        "z": "465cfd27.107674",
        "name": "",
        "topic": "zeroIoc01/power/get/reading",
        "qos": "0",
        "broker": "aaff1184.c14",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "eed643ea.09067",
                "cd4649fa.cbf988"
            ]
        ]
    },
    {
        "id": "cd4649fa.cbf988",
        "type": "ui_chart",
        "z": "465cfd27.107674",
        "name": "",
        "group": "c70e062d.61a598",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 630,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "eed643ea.09067",
        "type": "ui_gauge",
        "z": "465cfd27.107674",
        "name": "",
        "group": "c70e062d.61a598",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "45c04072.0d433",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "BlankPlot",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "cd4649fa.cbf988"
            ]
        ]
    },
    {
        "id": "7f4eb2cb.b83e3c",
        "type": "ui_template",
        "z": "465cfd27.107674",
        "group": "c70e062d.61a598",
        "name": "Restart Plot",
        "order": 9,
        "width": "0",
        "height": "0",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Restart Plot</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "45c04072.0d433"
            ]
        ]
    }
]